@import './partials/typography.scss';
@import './partials/variables.scss';
@import './partials/buttons.scss';
@import './partials/media-queries.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background-color: var(--white);
  font-family: 'Urbanist', sans-serif;
}

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

//======= HEADER ======
header {
  width: 100%;
  margin: 2rem 0rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div.logo {
    @include logo;
  }
  nav.nav {
     margin-top: 1.5rem;
     .nav-list {
       list-style: none;
       margin: 0;
       padding: 0;
       display: flex;
       font-weight: 600;
       .nav-items {
         a {
          padding: 0 2rem;
          transition: all ease-in 0.4s;
          -webkit-transition: all ease-in 0.4s;
          -moz-transition: all ease-in 0.4s;
          -ms-transition: all ease-in 0.4s;
          -o-transition: all ease-in 0.4s;
          &:after {
             display: block;
             overflow: hidden;
             content: "";
             position: relative;
             top: 5px;
             left: 32px;
             width: 0;
             height: 2px;
             background-color: var(--violet-dark);
             transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             -moz-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             -ms-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             -o-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             }
          &:hover::after {
            width: calc(100% - 31px);
          }
         }
         a.last-link {
           margin: 0;
         }
       }
     }
  }
  div.line {
    span {
     @include vertical-line;
    }
  }
div.login {
  p {
    margin: 0 1.5rem;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0.3rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
div.dropdown {
  background-color: none;
  button.state {
    border: none;
    i {
       font-size: 1em;
    }
  }
  div.dropdown-content {
    a {
      color: var(--white);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
     &:hover {
      background-color: #ddd;
     }
    }
    display: none;
    position: absolute;
    background-color: var(--violet-dark);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 1rem 0 0 0.4rem;
    min-width: 160px;
    z-index: 1;
  }
  &:hover .dropdown-content {
    display: flex;
    flex-direction: column;

  }
  }
}

//======= HERO ======
section#hero {
 @include hero;
  div.gradient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(231,123, 30, 0.2),rgba(231,123, 30, 0.7));
    width: 100%;
    height: 820px;
    color: var(--white);
    h1 {
      font-weight: 600;
      margin-top: -4rem;
      margin-bottom: 0;
    }
    p {
      font-size: 20px;
       margin-top: 0.5rem;
       margin-bottom: 4rem;
    }
    div.searchBox {
       @include searchBox;
    }
    img.hero-left {
      width: 290px;
      position: absolute;
      bottom: 50px;
      left: 50px;
    }
    img.hero-rigth {
      width: 290px;
      position: absolute;
      top: 124px;
      right: 50px;
    }
  }
}

//======= TOPICS ======
section#topics {
  div.container {
    .headingh2 {
     @include h2;
     margin-bottom: 3rem;
    }
    div.quickLinks {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
      a {
        flex-basis: 25%;
        &:link,
        &:visited {
          color: var(--black);
        }
        div.links {
          display: flex;
          justify-content: center;
          align-items: center;
          div.circle {
              img {
                width: 100%;
              }
            width: 40px;
            background-color: var(--blue);
            padding: 15px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
          }
          div.circle2 {
            background-color: var(--orange-light);
          }
          div.circle3 {
            background-color: var(--violet-dark);
            img {
              width: 50px;
            }
          }
          div.circle4 {
            background-color: var(--blue-light);
          }
          div.circle5 {
            background-color: var(--orange);
          }
          div.circle6 {
            background-color: var(--pink);
            img {
              width: 34px;
            }
          }
          div.circle7 {
            background-color: var(--blue-dark);
          }
          div.circle8 {
            background-color: var(--violet);
            img {
              width: 34px;
            }
          }
          div.text {
            box-sizing: border-box;
            margin-left: 1rem;
            h3 {
                margin: 0;
            }
            .one {
              color: var(--blue);
            }
            .two {
              color: var(--orange-light);
            }
            .three {
              color: var(--violet-dark);
            }
            .four {
              color: var(--blue-light);
            }
            .five {
              color: var(--orange);
            }
            .six {
              color: var(--pink);
            }
            .seven {
              color: var(--blue-dark);
            }
            .eight {
              color: var(--violet);
            }
            p{
              margin: 0;
              color: darken(#fff, 45%);
            }
          }
        }
        div.link6 {
          margin-left: 0.8rem;
        }
      }
    }
  }
}

//======= #4 TOPICS & TESTIMONIALS & NEWS ARTICLES ======
div.topPics {
  .headingh2 {
     @include h2;
  }
  div.pics {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    article {
      padding: 1rem;
      position: relative;
      img.articleImage {
        width: 300px;
        height: 280px;
        border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      }
      .layerColor {
        img {
          width: 18px;
          margin-left: 0.6rem;
        }
        p {
           margin-left: 0.6rem;
           color: var(--white);
        }
        display: flex;
        align-items: center;
        position: absolute;
        width: 125px;
        height: 30px;
        bottom: 181px;
        left: 30px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      .layerColor1 {
        background-color: var(--blue);
      }
      .layerColor2 {
        background-color: var(--pink);
        img {
          width: 12px;
        }
      }
      .layerColor3 {
        background-color: var(--blue-dark);
      }
      .layerColor4 {
        background-color: var(--violet-dark);
      }
      h3 {
        margin-top: 2rem;
      }
      p{
        font-style: italic;
      }
      a {
        &:link,
        &:visited {
          color: var(--black);
          font-weight: 600;
        }
      }
      h3, p , a {
        padding-left: 20px;
      }
    }
  }
}

//======= INIIATIVES ======
section#initiatives {
  .container {
    .headingh2 {
      @include h2;
      h2 {
        color: var(--white);
      }
      justify-content: center;
     }
     .imageContent {
       article {
         img {
          width: 410px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
         }
         h3 {
          margin-top: 30px;
          margin-bottom: 1rem;
          color: var(--white);
        }
        a {
          &:link,
          &:visited {
            color: var(--white);
            font-weight: 600;
          }
        }
        padding: 1rem;
       }
       display: flex;
       flex-flow: row;
       justify-content: center;
       align-items: center;
     }
  }
  width: 100%;
  background-color: var(--violet-dark);
}

//======= SPONSORED ======
 section#sponsored {
  div.pedroMiranda {
    .blueGradient {
       width: 1300px;
       height: 568px;
       background-image: linear-gradient(90deg, rgba(86,189, 253, 1.0),rgba(86,189, 253, 0.3));
       z-index: 2000;
       border-radius: 15px;
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       -ms-border-radius: 15px;
       -o-border-radius: 15px;
    }
     @include perdoMiranda1;
   }
   div.sponsored {
    @include sponsored;
  }
   position: relative;
  padding: 80px 0rem;
}
//highLight
div.highLight {
  .headingh2 {
    @include h2;
    margin-bottom: 0;
    h2 {
      color: var(--white);
      margin-top: 0;
    }
    img {
      width: 38px;
    }
   }
   p {
     color: var(--white);
     width: 570px;
   }
   p:nth-of-type(2) {
      margin-bottom: 2.5rem;
   }
   padding: 120px;
 }

//======= TEWSTIMONIALS ======
section#testimonials {
  background-color: var(--gray);
  width: 100vw;
  margin-bottom: 80px;
  .container {
    div.topPics {
      div.pics {
        align-items: flex-start;
        .layerColor3,
        .layerColor4 {
          bottom: 156px;
        }
        .layerColor4 {
          background-color: var(--orange);
        }
        a {
            opacity: 0.3;
        }
      }
    }
  }
}
//=== h3 ===
.one {
  color: var(--blue);
}
.two {
  color: var(--pink);
}
.three {
  color: var(--blue-dark)
}
.four {
   color: var(--orange);
}

//======= PARTNERS ======
section#partners {
    div.blueGrd {
        div.contentRight {
          h2 {
             width: 90%;
             margin-top: -2rem;
          }
          .headingh3 {
            @include h3;
          }
           p {
             width: 86%;
           }
           p:nth-of-type(2) {
              margin-bottom: 30px;
              width: 88%;
           }
          width: 50%;
          padding-left: 30px;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
         align-items: flex-end;
         width: 1300px;
         height: 679px;
         color: var(--white);
         background-image: linear-gradient(270deg, rgba(86,189, 253, 1.0),rgba(86,189, 253, 0.2));
         border-radius: 15px;
         -webkit-border-radius: 15px;
         -moz-border-radius: 15px;
         -ms-border-radius: 15px;
         -o-border-radius: 15px;
    }
    img.hero-left {
      width: 350px;
      position: relative;
      bottom: 375px;
      left: 50px;
    }
    @include pedroMiranda2;
  overflow: hidden;
}

//======= NEWS ======
section#news {
  .container {
    div.topPics {
      div.pics {
        article {
         img.photoNews {
           width: 415px;
         }
         div.layerColor2 {
           background-color: var(--orange);
         }
         p.blackLighten {
          color: lighten(#000, 60%);
         }
        }
      }
    }
  }
}

//======= TRAINING ======
section#testSkills {
  background-color: var(--gray);
  width: 100vw;
  .container {
    div.testSkills {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div.highLight {
        .headingh2 {
          h2 {
            color: var(--black);
          }
         }
         p {
           color: lighten(#000, 60%);
         }
         padding: 0px;
         flex-basis: 50%;
      }
      div.videoTest {
        flex-basis: 50%;
         img {
          width: 660px;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
         }
         a {
          img.video-icon {
            width: 61px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            } 
         }
         position: relative;
      }
    }
  }
}

//======= TEAM ======
section#team {
  div.teamText {
    .headingh2 {
      @include h2;
     }
     p.askTeam {
       font-size: 29px;
       margin-bottom: 4rem;
  
     }
     position: absolute;
     top: 50%;
     left: 65%;
     transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
  }
   @include team;
   color: var(--white);
   position: relative;
}

//======= FOOTER ======
#footer {
  width: 100vw;
  background-color: var(--violet-dark);
  color: var(--white);
  div.container { 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 2px solid var(--gray-a); 
     div.logo {
       @include logo;
       p {
         color: var(--white);
       }
       margin-right: 0;
       flex-basis: 20%;
     }
     nav.nav {
      flex-basis: 20%;
      .nav-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        .nav-items {
         margin: 10px 0rem; 
          a {
          color: var(--white);
           padding: 0 2rem;
           transition: all ease-in 0.2s;
           -webkit-transition: all ease-in 0.2s;
           -moz-transition: all ease-in 0.2s;
           -ms-transition: all ease-in 0.2s;
           -o-transition: all ease-in 0.2s;
           &:hover{
             color: var(--orange);
            }  
            a.last-link {
            margin: 0;
            }
          }
        }
      } 
    }
    div.rectangle {
      background-color: var(--violet-dark);
      flex-basis: 20%;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     div.item {
      height: 53.02px;
       background-color: var(--gray-a);
     }
    }
    div.rectangle:nth-of-type(2) {
      margin: 0 62.24px 0 0;
    }
  }
  .container:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    font-size: 14px;
   .linksFtr {
     a {
       &:link,
       &:visited {
        text-decoration: underline;
        color: var(--white);
       }
       margin-left: 2rem;
     }
   }
  }
}