@import './partials/typography.scss';
@import './partials/variables.scss';
@import './partials/buttons.scss';
@import './partials/media-queries.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  background-color: var(--white);
  font-family: 'Urbanist', sans-serif;
}

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}
//======= HEADER ======
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  div.logo {
    a {
      p {
        margin: 0;
        font-size: 1.3em;
        span.skills {
          font-weight: bold;
        }
      }
    }
    margin-right: 5rem;
  }
  nav.nav {
     margin-top: 1.5rem;
     .nav-list {
       list-style: none;
       margin: 0;
       padding: 0;
       display: flex;
       .nav-items {
         a {
          padding: 0 2rem;
          transition: all ease-in 0.4s;
          -webkit-transition: all ease-in 0.4s;
          -moz-transition: all ease-in 0.4s;
          -ms-transition: all ease-in 0.4s;
          -o-transition: all ease-in 0.4s;
          &:after {
             display: block;
             overflow: hidden;
             content: "";
             position: relative;
             top: 5px;
             left: 32px;
             width: 0;
             height: 2px;
             background-color: var(--violet);
             transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             -moz-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             -ms-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             -o-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
             }
          &:hover::after {
            width: calc(100% - 32px);
          }
         }
         a.last-link {
           margin: 0;
         }
       }
     }
  }
  div.line {
    span {
      display: block;
      background-color: darken(#fff, 30%);
       width:2px;
       height: 40px;
       margin: 0 1.5rem;
    }
  }
div.login {
  button.btn-violet {
    @include button;
  }
  p {
    margin: 0 1.5rem;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 0.25rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
div.dropdown {
  button.state {
    border: none;
    i {
       
    }
  }
  div.dropdown-content {
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
     &:hover {
      background-color: #ddd;
     }
    }
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 1rem 0 0 0.4rem;
    min-width: 160px;
    z-index: 1;
  }
  &:hover .dropdown-content {
    display: flex;
    flex-direction: column;

  }
  overflow: hidden;
}
}



