/*=== INITIAL TYPOGRAPHY===*/
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --pink: #cd61ed;
  --violet: #873efd;
  --violet-dark: #050835;
  --orange: #f68523;
  --orange-light: #ebaa3f;
  --blue-dark: #3100fd;
  --blue: #0c7ee9;
  --blue-light: #56bdfd;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

/* Default: 
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 12px; } 
h6 { font-size: 10px; }
*/
h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0;
}

p {
  line-height: 1.5rem;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 80px 0;
}

.cf::after {
  display: table;
  content: '';
  clear: both;
}

img {
  width: 100%;
  vertical-align: bottom;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black);
  background-color: var(--white);
  font-family: 'Urbanist', sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

header {
  width: 100%;
  margin: 2rem 0rem;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.logo {
  margin-right: 5rem;
}

header div.logo a p {
  margin: 0;
  font-size: 1.3em;
}

header div.logo a p span.skills {
  font-weight: bold;
}

header nav.nav {
  margin-top: 1.5rem;
}

header nav.nav .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav.nav .nav-list .nav-items a {
  padding: 0 2rem;
  transition: all ease-in 0.4s;
  -webkit-transition: all ease-in 0.4s;
  -moz-transition: all ease-in 0.4s;
  -ms-transition: all ease-in 0.4s;
  -o-transition: all ease-in 0.4s;
}

header nav.nav .nav-list .nav-items a:after {
  display: block;
  overflow: hidden;
  content: "";
  position: relative;
  top: 5px;
  left: 32px;
  width: 0;
  height: 2px;
  background-color: var(--violet-dark);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header nav.nav .nav-list .nav-items a:hover::after {
  width: calc(100% - 31px);
}

header nav.nav .nav-list .nav-items a.last-link {
  margin: 0;
}

header div.line span {
  display: block;
  background-color: #d9d9d9;
  width: 2px;
  height: 40px;
  margin: 0 1.5rem;
}

header div.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--white);
  padding: 0.3rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header div.login button.btn-violet {
  width: 140px;
  height: 40px;
  text-align: center;
  background-color: var(--violet-dark);
  color: var(--white);
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all ease-in 0.4s;
}

header div.login button.btn-violet:hover {
  background-color: var(--violet);
}

header div.login p {
  margin: 0 1.5rem;
}

header div.dropdown {
  background-color: none;
}

header div.dropdown button.state {
  border: none;
}

header div.dropdown div.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--violet-dark);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 1rem 0 0 0.4rem;
  min-width: 160px;
  z-index: 1;
}

header div.dropdown div.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

header div.dropdown div.dropdown-content a:hover {
  background-color: #ddd;
}

header div.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#hero {
  width: 100%;
  height: 820px;
  background: url("../src/hero.png") center/cover;
  background-repeat: no-repeat;
}

section#hero div.gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 123, 30, 0.2)), to(rgba(231, 123, 30, 0.7)));
  background-image: linear-gradient(rgba(231, 123, 30, 0.2), rgba(231, 123, 30, 0.7));
  width: 100%;
  height: 820px;
  color: var(--white);
}

section#hero div.gradient h1 {
  font-weight: 600;
  margin-top: -4rem;
  margin-bottom: 0;
}

section#hero div.gradient p {
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

section#hero div.gradient div.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 0.3rem 0.3rem 0.3rem 1.2rem;
  background-color: var(--white);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  height: 60px;
}

section#hero div.gradient div.searchBox .searchTopic, section#hero div.gradient div.searchBox .searchProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#hero div.gradient div.searchBox .searchTopic .fa-solid, section#hero div.gradient div.searchBox .searchProject .fa-solid {
  color: black;
}

section#hero div.gradient div.searchBox .searchTopic .mySearch, section#hero div.gradient div.searchBox .searchProject .mySearch {
  border: none;
  margin-left: 1rem;
}

section#hero div.gradient div.searchBox .searchTopic .mySearch:focus, section#hero div.gradient div.searchBox .searchProject .mySearch:focus {
  background-color: var(--violet-dark);
  color: var(--white);
  padding: 0.5rem;
}

section#hero div.gradient div.searchBox div.line span {
  display: block;
  background-color: #d9d9d9;
  width: 2px;
  height: 40px;
  margin: 0 1.5rem;
  height: 25px;
}

section#hero div.gradient div.searchBox button.btn-violet {
  width: 140px;
  height: 40px;
  text-align: center;
  background-color: var(--violet-dark);
  color: var(--white);
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all ease-in 0.4s;
  height: 50px;
  width: 190px;
}

section#hero div.gradient div.searchBox button.btn-violet:hover {
  background-color: var(--violet);
}

section#hero div.gradient img.hero-left {
  width: 290px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

section#hero div.gradient img.hero-rigth {
  width: 290px;
  position: absolute;
  top: 124px;
  right: 50px;
}

section#topics div.container .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

section#topics div.container .headingh2 img {
  width: 29px;
}

section#topics div.container .headingh2 h2 {
  margin-left: 1rem;
}

section#topics div.container div.quickLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

section#topics div.container div.quickLinks a {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

section#topics div.container div.quickLinks a:link, section#topics div.container div.quickLinks a:visited {
  color: var(--black);
}

section#topics div.container div.quickLinks a div.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#topics div.container div.quickLinks a div.links div.circle {
  width: 40px;
  background-color: var(--blue);
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

section#topics div.container div.quickLinks a div.links div.circle2 {
  background-color: var(--orange-light);
}

section#topics div.container div.quickLinks a div.links div.circle3 {
  background-color: var(--violet-dark);
}

section#topics div.container div.quickLinks a div.links div.circle3 img {
  width: 49px;
}

section#topics div.container div.quickLinks a div.links div.circle4 {
  background-color: var(--blue-light);
}

section#topics div.container div.quickLinks a div.links div.circle5 {
  background-color: var(--orange);
}

section#topics div.container div.quickLinks a div.links div.circle6 {
  background-color: var(--pink);
  margin-left: 1rem;
}

section#topics div.container div.quickLinks a div.links div.circle6 img {
  width: 36px;
}

section#topics div.container div.quickLinks a div.links div.circle7 {
  background-color: var(--blue-dark);
}

section#topics div.container div.quickLinks a div.links div.circle8 {
  background-color: var(--violet);
}

section#topics div.container div.quickLinks a div.links div.circle8 img {
  width: 36px;
}

section#topics div.container div.quickLinks a div.links div.text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1rem;
}

section#topics div.container div.quickLinks a div.links div.text h3 {
  margin: 0;
}

section#topics div.container div.quickLinks a div.links div.text .one {
  color: var(--blue);
}

section#topics div.container div.quickLinks a div.links div.text .two {
  color: var(--orange-light);
}

section#topics div.container div.quickLinks a div.links div.text .three {
  color: var(--violet-dark);
}

section#topics div.container div.quickLinks a div.links div.text .four {
  color: var(--blue-light);
}

section#topics div.container div.quickLinks a div.links div.text .five {
  color: var(--orange);
}

section#topics div.container div.quickLinks a div.links div.text .six {
  color: var(--pink);
}

section#topics div.container div.quickLinks a div.links div.text .seven {
  color: var(--blue-dark);
}

section#topics div.container div.quickLinks a div.links div.text .eight {
  color: var(--violet);
}

section#topics div.container div.quickLinks a div.links div.text p {
  margin: 0;
}

section#topics div.container:nth-of-type(2) {
  padding-top: 0;
}

section#topics div.container:nth-of-type(2) div.topPics .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

section#topics div.container:nth-of-type(2) div.topPics .headingh2 img {
  width: 29px;
}

section#topics div.container:nth-of-type(2) div.topPics .headingh2 h2 {
  margin-left: 1rem;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article {
  padding: 1rem;
  position: relative;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article img {
  width: 300px;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article .layerColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30%;
  height: 30px;
  bottom: 173px;
  left: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article .layerColor img {
  width: 18px;
  margin-left: 0.6rem;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article .layerColor p {
  margin-left: 0.6rem;
  color: var(--white);
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article .layerColor1 {
  background-color: var(--blue);
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article .layerColor2 {
  background-color: var(--pink);
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article .layerColor2 img {
  width: 12px;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article .layerColor3 {
  background-color: var(--blue-dark);
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article .layerColor4 {
  background-color: var(--violet-dark);
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article h3 {
  margin-top: 3rem;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article p {
  font-style: italic;
}

section#topics div.container:nth-of-type(2) div.topPics div.pics article a:link, section#topics div.container:nth-of-type(2) div.topPics div.pics article a:visited {
  color: var(--black);
  font-weight: 600;
}

section#initiatives {
  width: 100%;
  background-color: var(--violet-dark);
}

section#initiatives .container .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#initiatives .container .headingh2 img {
  width: 29px;
}

section#initiatives .container .headingh2 h2 {
  margin-left: 1rem;
}

section#initiatives .container .headingh2 h2 {
  color: var(--white);
}

section#initiatives .container .imageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#initiatives .container .imageContent article {
  padding: 1rem;
}

section#initiatives .container .imageContent article img {
  width: 400px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section#initiatives .container .imageContent article h3 {
  margin-top: 30px;
  margin-bottom: 1rem;
  color: var(--white);
}

section#initiatives .container .imageContent article a:link, section#initiatives .container .imageContent article a:visited {
  color: var(--white);
  font-weight: 600;
}

section#sponsored {
  padding: 80px 0rem;
}

section#sponsored div.pedroMiranda {
  width: 1300px;
  height: 568px;
  background: url("../src/pedro-miranda1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section#sponsored div.pedroMiranda .alfaCover {
  width: 1300px;
  height: 568px;
  background-image: -webkit-gradient(linear, left top, right top, from(#56bdfd), to(rgba(86, 189, 253, 0.3)));
  background-image: linear-gradient(90deg, #56bdfd, rgba(86, 189, 253, 0.3));
  z-index: 2000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section#sponsored div.pedroMiranda .alfaCover .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
  padding: 4rem 0rem 2rem 6rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section#sponsored div.pedroMiranda .alfaCover .headingh2 img {
  width: 29px;
}

section#sponsored div.pedroMiranda .alfaCover .headingh2 h2 {
  margin-left: 1rem;
}

section#sponsored div.pedroMiranda .alfaCover .headingh2 h2 {
  color: var(--white);
}

section#sponsored div.pedroMiranda .alfaCover div.highLight {
  margin-left: 6rem;
}

section#sponsored div.pedroMiranda .alfaCover div.highLight p {
  color: var(--white);
  width: 570px;
}

section#sponsored div.pedroMiranda .alfaCover div.highLight p:nth-of-type(2) {
  margin-bottom: 4rem;
}

section#sponsored div.pedroMiranda .alfaCover div.highLight a.btn-white {
  width: 140px;
  height: 40px;
  text-align: center;
  background-color: var(--violet-dark);
  color: var(--white);
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all ease-in 0.4s;
  background-color: var(--white);
  color: var(--black);
  padding: 0.66rem;
}

section#sponsored div.pedroMiranda .alfaCover div.highLight a.btn-white:hover {
  background-color: var(--violet);
}

section#testimonials .container div.topPics .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

section#testimonials .container div.topPics .headingh2 img {
  width: 29px;
}

section#testimonials .container div.topPics .headingh2 h2 {
  margin-left: 1rem;
}

section#testimonials .container div.topPics div.pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#testimonials .container div.topPics div.pics article {
  padding: 1rem;
  position: relative;
}

section#testimonials .container div.topPics div.pics article img {
  width: 300px;
}

section#testimonials .container div.topPics div.pics article .layerColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 30%;
  height: 30px;
  bottom: 173px;
  left: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

section#testimonials .container div.topPics div.pics article .layerColor img {
  width: 18px;
  margin-left: 0.6rem;
}

section#testimonials .container div.topPics div.pics article .layerColor p {
  margin-left: 0.6rem;
  color: var(--white);
}

section#testimonials .container div.topPics div.pics article .layerColor1 {
  background-color: var(--blue);
}

section#testimonials .container div.topPics div.pics article .layerColor2 {
  background-color: var(--pink);
}

section#testimonials .container div.topPics div.pics article .layerColor2 img {
  width: 12px;
}

section#testimonials .container div.topPics div.pics article .layerColor3 {
  background-color: var(--blue-dark);
}

section#testimonials .container div.topPics div.pics article .layerColor4 {
  background-color: var(--orange);
}

section#testimonials .container div.topPics div.pics article h3 {
  margin-top: 3rem;
}

section#testimonials .container div.topPics div.pics article .one {
  color: var(--blue);
}

section#testimonials .container div.topPics div.pics article .two {
  color: var(--pink);
}

section#testimonials .container div.topPics div.pics article .three {
  color: var(--blue-dark);
}

section#testimonials .container div.topPics div.pics article .four {
  color: var(--orange);
}

section#testimonials .container div.topPics div.pics article p {
  font-style: italic;
}

section#testimonials .container div.topPics div.pics article a:link, section#testimonials .container div.topPics div.pics article a:visited {
  color: var(--black);
  font-weight: 600;
  opacity: 0.7;
}

section#partners div.jonne-makikyro {
  width: 1300px;
  height: 568px;
  background: url("../src/jonne-makikyro.jpg") center/cover;
  background-repeat: no-repeat;
}

section#partners div.jonne-makikyro div.highLight {
  margin-left: 6rem;
}

section#partners div.jonne-makikyro div.highLight .headingh3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

section#partners div.jonne-makikyro div.highLight .headingh3 img {
  width: 29px;
}

section#partners div.jonne-makikyro div.highLight .headingh3 h3 {
  margin-left: 1rem;
}

section#partners div.jonne-makikyro div.highLight .headingh3 h2 {
  color: var(--white);
}

section#partners div.jonne-makikyro div.highLight p {
  color: var(--white);
  width: 570px;
}

section#partners div.jonne-makikyro div.highLight p:nth-of-type(2) {
  margin-bottom: 4rem;
}

section#partners div.jonne-makikyro div.highLight a.btn-white {
  width: 140px;
  height: 40px;
  text-align: center;
  background-color: var(--violet-dark);
  color: var(--white);
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all ease-in 0.4s;
  background-color: var(--white);
  color: var(--black);
  padding: 0.66rem;
}

section#partners div.jonne-makikyro div.highLight a.btn-white:hover {
  background-color: var(--violet);
}
/*# sourceMappingURL=style.css.map */