@import './partials/typography.scss';
@import './partials/variables.scss';
@import './partials/buttons.scss';
@import './partials/media-queries.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //color: var(--color-black);
  font-family: 'Urbanist', sans-serif;
  overflow-x: hidden;
}

a {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    color: white;
  }
  &:active {
    background: none;
  }
}

h2#logo {
  color: red;
  font-style: italic;
}
