/*=== INITIAL TYPOGRAPHY===*/
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --pink: #cd61ed;
  --violet: #873efd;
  --violet-dark: #050835;
  --orange: #f68523;
  --orange-light: #ebaa3f;
  --blue-dark: #3100fd;
  --blue: #0c7ee9;
  --blue-light: #56bdfd;
  --gray: #eaeff5;
  --gray-a: rgba(199,213,229, 0.2);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

/* Default: 
h1 { font-size: 24px; }
h2 { font-size: 22px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 12px; } 
h6 { font-size: 10px; }
*/
h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0;
}

p {
  line-height: 1.5rem;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 80px 0;
}

.cf::after {
  display: table;
  content: '';
  clear: both;
}

img {
  width: 100%;
  vertical-align: bottom;
}

#menu-toggle {
  width: 51px;
  height: 51px;
  background: var(--violet-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

#menu-toggle:hover .bar {
  width: 25px;
}

#menu-toggle.closeMenu .bar {
  width: 25px;
}

#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}

.bar:last-child {
  width: 15px;
}

.btnViolet {
  padding: 0.66rem 2rem;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  background-color: var(--violet-dark);
  color: var(--white);
  border: none;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all ease-in 0.4s;
}

.btnViolet:hover {
  background-color: var(--orange);
  color: var(--white);
}

.btnWhite {
  background-color: var(--white);
  color: var(--violet-dark);
}

.btnBorder {
  border: 2px solid var(--white);
  background-color: rgba(255, 255, 255, 0);
}

.btnBorder:hover {
  color: var(--violet-dark);
}

@media only screen and (max-width: 1400px) {
  div.container {
    width: 1080px;
    padding: 60px 0;
  }
  h2 {
    font-size: 34px;
  }
  a.nav-link {
    padding: 0 1rem;
  }
  section#hero div.gradient h1 {
    font-size: 48px;
  }
  section#topics div.container div.topPics div.pics article img.articleImage,
  section#testimonials div.container div.topPics div.pics article img.articleImage {
    width: 245px;
    height: 235px;
  }
  section#topics div.container div.topPics div.pics article .layerColor3,
  section#topics div.container div.topPics div.pics article .layerColor4,
  section#testimonials div.container div.topPics div.pics article .layerColor3,
  section#testimonials div.container div.topPics div.pics article .layerColor4 {
    bottom: 181px;
  }
  section#initiatives div.container div.imageContent article img {
    width: 338px;
  }
  section#sponsored {
    width: 100%;
  }
  section#sponsored div.sponsored {
    position: absolute;
    top: 80px;
    left: 1100px;
  }
  section#partners {
    width: 100%;
  }
  section#newspaper div.container div.topPics div.pics {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor1 {
    bottom: 204px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor2,
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 205px;
  }
  section#newspaper div.container div.topPics div.pics article p.third {
    width: 70%;
  }
  section#testSkills div.container div.testSkills div.highLight {
    padding-right: 3rem;
  }
  section#testSkills div.container div.testSkills div.videoTest img {
    width: 460px;
  }
  footer#footer div.container div.rectangle:nth-of-type(2) {
    margin: 0 40px 0 0;
  }
}

@media only screen and (max-width: 1200px) {
  div.container {
    width: 80%;
    padding: 60px 0;
  }
  h2 {
    font-size: 32px;
  }
  header#header div.logo {
    margin-right: 1rem;
  }
  header#header div.logo a p {
    font-size: 1.1em;
  }
  header#header nav.nav .nav-list .nav-items a.nav-link {
    padding: 0 0.6rem;
  }
  header#header nav.nav .nav-list .nav-items a.nav-link:after {
    content: "";
    left: 10px;
  }
  header#header nav.nav .nav-list .nav-items a.nav-link:hover::after {
    width: calc(100% - 10px);
  }
  header#header div.login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  header#header div.login .btnViolet {
    border: 2px solid var(--white);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header#header div.login p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1.1em;
    margin: 0 0 0.5rem 0;
    color: var(--white);
  }
  section#hero div.gradient h1 {
    font-size: 42px;
  }
  section#topics div.container div.quickLinks a div.links div.circle {
    width: 35px;
    padding: 10px;
  }
  section#topics div.container div.topPics div.pics article img.articleImage,
  section#testimonials div.container div.topPics div.pics article img.articleImage {
    width: 193px;
    height: 183px;
  }
  section#topics div.container div.topPics div.pics article .layerColor,
  section#testimonials div.container div.topPics div.pics article .layerColor {
    bottom: 205px;
  }
  section#initiatives div.container div.imageContent article img {
    width: 265px;
  }
  section#sponsored div.sponsored {
    top: 60px;
    left: 860px;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor1 {
    bottom: 229px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor1 {
    bottom: 227px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor2 {
    bottom: 227px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 229px;
  }
  section#newspaper div.container div.topPics div.pics article p.two {
    width: 80%;
  }
  section#testSkills div.container div.testSkills {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section#testSkills div.container div.testSkills div.highLight {
    padding-right: 3rem;
  }
  section#testSkills div.container div.testSkills div.highLight p {
    width: 100%;
  }
  section#testSkills div.container div.testSkills div.videoTest {
    margin-bottom: 3rem;
  }
  footer#footer div.container div.logo {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
  footer#footer div.container div.logo a p {
    font-size: 1.1em;
  }
  footer#footer div.container nav.nav {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  footer#footer div.container div.rectangle {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  footer#footer div.container div.rectangle:nth-of-type(2) {
    margin: 0 25px 0 0;
  }
}

@media only screen and (max-width: 995px) {
  div.container {
    width: 80%;
    padding: 45px 0;
  }
  h2 {
    font-size: 29px;
  }
  header#header {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 0;
  }
  header#header div.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  header#header div.logo a p {
    font-size: 0.8em;
  }
  header#header .logo.showMenu {
    display: block;
  }
  header#header .logo.showMenu a p {
    color: var(--white);
  }
  header#header nav.nav #menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 27000;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  header#header nav.nav .nav-list {
    display: none;
  }
  header#header nav.nav .nav-list .nav-items a {
    padding: 0 4rem 0rem 0rem;
  }
  header#header nav.nav .nav-list .nav-items a:link, header#header nav.nav .nav-list .nav-items a:visited {
    color: var(--white);
    font-size: 1.5em;
  }
  header#header nav.nav .nav-list .nav-items a:after {
    width: 0;
    height: 0;
  }
  header#header nav.nav .nav-list.showMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header#header div.login {
    display: none;
    padding: 0.5rem;
  }
  header#header div.login p {
    font-size: 1.3em;
    margin: 0.5rem 1rem 1rem;
  }
  header#header .login.showMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header#header div.line {
    display: none;
  }
  header#header .dropdown {
    display: none;
  }
  #header.showMenu {
    height: 100vh;
    background-color: var(--orange);
    transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
    -webkit-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
    -moz-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
    -ms-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
    -o-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
  }
  section#hero div.gradient h1 {
    font-size: 38px;
  }
  section#hero div.gradient p {
    width: 70%;
    text-align: center;
  }
  section#topics div.container div.topPics div.pics,
  section#testimonials div.container div.topPics div.pics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#topics div.container div.topPics div.pics article,
  section#testimonials div.container div.topPics div.pics article {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 1rem 0rem 2rem;
  }
  section#topics div.container div.topPics div.pics article .layerColor,
  section#testimonials div.container div.topPics div.pics article .layerColor {
    bottom: 173px;
  }
  section#initiatives div.container div.imageContent article img {
    width: 198px;
  }
  section#newspaper div.container div.topPics div.pics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor2 {
    bottom: 203px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 158px;
  }
  section#newspaper div.container div.topPics div.pics article p.two {
    width: 80%;
  }
  section#testSkills div.container div.testSkills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#testSkills div.container div.testSkills div.highLight {
    padding-right: 0;
  }
  section#testSkills div.container div.testSkills div.videoTest {
    margin: 4rem 0rem 0rem;
  }
  section#testSkills div.container div.testSkills div.videoTest img {
    width: 100%;
  }
  footer#footer div.container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer#footer div.container div.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }
  footer#footer div.container div.logo a p {
    font-size: 0.8em;
  }
  footer#footer div.container nav.nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    margin-bottom: 3rem;
  }
  footer#footer div.container div.rectangle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  div.container {
    width: 80%;
    padding: 40px 0;
  }
  h2 {
    font-size: 27px;
  }
  header#header div.logo {
    top: 25px;
    left: 25px;
  }
  header#header nav.nav #menu-toggle {
    width: 40px;
    height: 40px;
    top: 25px;
    right: 25px;
  }
  section#topics div.container div.topPics div.pics,
  section#testimonials div.container div.topPics div.pics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#topics div.container div.topPics div.pics article img.articleImage,
  section#testimonials div.container div.topPics div.pics article img.articleImage {
    width: 100%;
    height: 100%;
  }
  section#initiatives div.container div.imageContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#initiatives div.container div.imageContent article {
    padding: 2rem 0;
  }
  section#initiatives div.container div.imageContent article img {
    width: 106%;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor1 {
    bottom: 173px;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor3,
  section#testimonials div.container div.topPics div.pics article .layerColor4 {
    bottom: 172px;
  }
  section#newspaper div.container div.topPics div.pics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#newspaper div.container div.topPics div.pics article {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 1.5rem 1rem;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor2 {
    bottom: 164px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor1,
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 189px;
  }
  footer#footer div.container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer#footer div.container div.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
  }
  footer#footer div.container nav.nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  footer#footer div.container div.rectangle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-top: 4rem;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  footer#footer div.container div.rectangle div.item {
    height: 70px;
    background-color: var(--gray-a);
  }
  footer#footer div.container div.rectangle:nth-of-type(2) {
    margin: 0;
  }
}

@media only screen and (max-width: 560px) {
  div.container {
    width: 80%;
    padding: 32px 0;
  }
  h2 {
    font-size: 25px;
  }
  header#header div.logo a p {
    font-size: 0.8em;
  }
  section#topics div.container div.topPics div.pics,
  section#testimonials div.container div.topPics div.pics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#topics div.container div.topPics div.pics article .layerColor,
  section#testimonials div.container div.topPics div.pics article .layerColor {
    bottom: 196px;
  }
  section#initiatives div.container div.imageContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#initiatives div.container div.imageContent article {
    padding: 1.5rem 0;
  }
  section#initiatives div.container div.imageContent article img {
    width: 100%;
  }
  section#testimonials {
    margin-top: 32px;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor1 {
    bottom: 197px;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor3,
  section#testimonials div.container div.topPics div.pics article .layerColor4 {
    bottom: 172px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor1,
  section#newspaper div.container div.topPics div.pics article .layerColor2,
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 236px;
  }
  section#testSkills div.container div.testSkills div.videoTest {
    margin: 3rem 0rem 0rem;
  }
  footer#footer div.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  footer#footer div.container div.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 3rem;
  }
  footer#footer div.container nav.nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  footer#footer div.container nav.nav .nav-list .nav-items a {
    padding: 0;
  }
  footer#footer div.container div.rectangle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  footer#footer div.container div.rectangle div.item {
    height: 50px;
  }
  footer#footer .container:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3rem 0;
  }
  footer#footer .container:nth-of-type(2) p {
    margin-top: 0;
  }
  footer#footer .container:nth-of-type(2) .linksFtr a {
    margin-left: 0rem;
  }
  footer#footer .container:nth-of-type(2) .linksFtr a.privacy {
    margin-left: 1rem;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--black);
  background-color: var(--white);
  font-family: 'Urbanist', sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

header {
  width: 100%;
  margin: 2rem 0rem;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 500;
}

header div.logo {
  z-index: 2000;
  margin-right: 3rem;
}

header div.logo a p {
  margin: 0;
  font-size: 1.3em;
}

header div.logo a p span.skills {
  font-weight: bold;
}

header nav.nav {
  margin-top: 1.5rem;
}

header nav.nav .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
}

header nav.nav .nav-list .nav-items a {
  padding: 0 2rem;
  transition: all ease-in 0.4s;
  -webkit-transition: all ease-in 0.4s;
  -moz-transition: all ease-in 0.4s;
  -ms-transition: all ease-in 0.4s;
  -o-transition: all ease-in 0.4s;
}

header nav.nav .nav-list .nav-items a:after {
  display: block;
  overflow: hidden;
  content: "";
  position: relative;
  top: 5px;
  left: 32px;
  width: 0;
  height: 2px;
  background-color: var(--violet-dark);
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

header nav.nav .nav-list .nav-items a:hover::after {
  width: calc(100% - 31px);
}

header nav.nav .nav-list .nav-items a.last-link {
  margin: 0;
}

header nav.nav .nav-list .nav-items .nav-link.navShadow:after {
  background-color: var(--white);
}

header div.line span {
  display: block;
  background-color: #d9d9d9;
  width: 2px;
  height: 40px;
  margin: 0 1.5rem;
}

header div.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--white);
  padding: 0.3rem;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

header div.login p {
  margin: 0 1.5rem;
}

header div.dropdown {
  background-color: none;
}

header div.dropdown button.state {
  border: none;
}

header div.dropdown button.state i {
  font-size: 1em;
}

header div.dropdown div.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--violet-dark);
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 1rem 0 0 0.4rem;
  min-width: 160px;
  z-index: 1;
}

header div.dropdown div.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

header div.dropdown div.dropdown-content a:hover {
  background-color: #ddd;
}

header div.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#hero {
  width: 100%;
  height: 820px;
  background: url("../src/hero.jpg") center/cover;
  background-repeat: no-repeat;
}

section#hero div.gradient {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 123, 30, 0.2)), to(rgba(231, 123, 30, 0.7)));
  background-image: linear-gradient(rgba(231, 123, 30, 0.2), rgba(231, 123, 30, 0.7));
  width: 100%;
  height: 820px;
  color: var(--white);
}

section#hero div.gradient h1 {
  font-weight: 600;
  margin-top: -4rem;
  margin-bottom: 0;
}

section#hero div.gradient p {
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

section#hero div.gradient div.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 799px;
  height: 60px;
  padding: 0.3rem 0.3rem 0.3rem 1.2rem;
  background-color: var(--white);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

section#hero div.gradient div.searchBox .searchTopic, section#hero div.gradient div.searchBox .searchProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#hero div.gradient div.searchBox .searchTopic .fa-solid, section#hero div.gradient div.searchBox .searchProject .fa-solid {
  color: black;
}

section#hero div.gradient div.searchBox .searchTopic input[type="text"], section#hero div.gradient div.searchBox .searchProject input[type="text"] {
  font-size: 1em;
  border: none;
  margin-left: 1rem;
}

section#hero div.gradient div.searchBox .searchTopic input[type="text"]:focus, section#hero div.gradient div.searchBox .searchProject input[type="text"]:focus {
  background-color: var(--violet-dark);
  color: var(--white);
  padding: 0.5rem;
}

section#hero div.gradient div.searchBox div.line span {
  display: block;
  background-color: #d9d9d9;
  width: 2px;
  height: 40px;
  margin: 0 1.5rem;
  height: 25px;
}

section#hero div.gradient div.searchBox button.btnViolet {
  height: 52px;
}

section#hero div.gradient div.shapeLeft {
  width: 340px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

section#hero div.gradient div.shapeRight {
  width: 270px;
  position: absolute;
  right: 50px;
  top: 132px;
}

@media only screen and (max-width: 1200px) {
  section#hero {
    height: 100vh;
  }
  section#hero div.gradient {
    height: 100vh;
  }
  section#hero div.gradient div.shapeLeft {
    width: 290px;
  }
  section#hero div.gradient div.shapeRight {
    width: 220px;
    top: 130px;
  }
}

@media only screen and (max-width: 995px) {
  section#hero div.gradient div.shapeLeft {
    width: 240px;
  }
  section#hero div.gradient div.searchBox {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#hero div.gradient div.searchBox div.searchTopic, section#hero div.gradient div.searchBox .searchProject {
    width: 170px;
  }
  section#hero div.gradient div.searchBox div.searchTopic input[type="text"]:focus, section#hero div.gradient div.searchBox .searchProject input[type="text"]:focus {
    width: 120px;
  }
  section#hero div.gradient div.shapeRight {
    width: 170px;
    top: 145px;
  }
}

@media only screen and (max-width: 768px) {
  section#hero div.gradient h1 {
    font-size: 34px;
    margin-top: 3rem;
  }
  section#hero div.gradient div.shapeLeft {
    width: 170px;
  }
  section#hero div.gradient div.searchBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 3rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  section#hero div.gradient div.searchBox div.searchTopic, section#hero div.gradient div.searchBox div.searchProject {
    width: 270px;
  }
  section#hero div.gradient div.searchBox div.searchTopic input[type="text"], section#hero div.gradient div.searchBox div.searchProject input[type="text"] {
    margin-top: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  section#hero div.gradient div.searchBox div.searchTopic input[type="text"]:focus, section#hero div.gradient div.searchBox div.searchProject input[type="text"]:focus {
    width: 270px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }
  section#hero div.gradient div.searchBox .fa-solid {
    margin-top: 1.5rem;
  }
  section#hero div.gradient div.searchBox div.line span {
    display: none;
  }
  section#hero div.gradient div.searchBox button.btnViolet {
    width: 219px;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  section#hero div.gradient p.underSearchBox {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 560px) {
  section#hero {
    background-position: -240px 0;
  }
  section#hero div.gradient h1 {
    font-size: 32px;
    padding: 0 2rem;
    text-align: center;
  }
  section#hero div.gradient p {
    margin-top: 1rem;
  }
  section#hero div.gradient div.shapeLeft {
    display: none;
  }
  section#hero div.gradient div.shapeRight {
    display: none;
  }
}

section#topics div.container .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  margin-bottom: 3rem;
}

section#topics div.container .headingh2 img {
  width: 29px;
}

section#topics div.container .headingh2 h2 {
  margin-left: 20px;
}

section#topics div.container div.quickLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

section#topics div.container div.quickLinks a {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

section#topics div.container div.quickLinks a:link, section#topics div.container div.quickLinks a:visited {
  color: var(--black);
}

section#topics div.container div.quickLinks a div.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#topics div.container div.quickLinks a div.links div.circle {
  width: 40px;
  background-color: var(--blue);
  padding: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

section#topics div.container div.quickLinks a div.links div.circle img {
  width: 100%;
}

section#topics div.container div.quickLinks a div.links div.circle2 {
  background-color: var(--orange-light);
}

section#topics div.container div.quickLinks a div.links div.circle3 {
  background-color: var(--violet-dark);
}

section#topics div.container div.quickLinks a div.links div.circle3 img {
  width: 50px;
}

section#topics div.container div.quickLinks a div.links div.circle4 {
  background-color: var(--blue-light);
}

section#topics div.container div.quickLinks a div.links div.circle5 {
  background-color: var(--orange);
}

section#topics div.container div.quickLinks a div.links div.circle6 {
  background-color: var(--pink);
}

section#topics div.container div.quickLinks a div.links div.circle6 img {
  width: 34px;
}

section#topics div.container div.quickLinks a div.links div.circle7 {
  background-color: var(--blue-dark);
}

section#topics div.container div.quickLinks a div.links div.circle8 {
  background-color: var(--violet);
}

section#topics div.container div.quickLinks a div.links div.circle8 img {
  width: 34px;
}

section#topics div.container div.quickLinks a div.links div.text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 1rem;
}

section#topics div.container div.quickLinks a div.links div.text h3 {
  margin: 0;
}

section#topics div.container div.quickLinks a div.links div.text .one {
  color: var(--blue);
}

section#topics div.container div.quickLinks a div.links div.text .two {
  color: var(--orange-light);
}

section#topics div.container div.quickLinks a div.links div.text .three {
  color: var(--violet-dark);
}

section#topics div.container div.quickLinks a div.links div.text .four {
  color: var(--blue-light);
}

section#topics div.container div.quickLinks a div.links div.text .five {
  color: var(--orange);
}

section#topics div.container div.quickLinks a div.links div.text .six {
  color: var(--pink);
}

section#topics div.container div.quickLinks a div.links div.text .seven {
  color: var(--blue-dark);
}

section#topics div.container div.quickLinks a div.links div.text .eight {
  color: var(--violet);
}

section#topics div.container div.quickLinks a div.links div.text p {
  margin: 0;
  color: #8c8c8c;
}

section#topics div.container div.quickLinks a div.link6 {
  margin-left: 0.8rem;
}

@media only screen and (max-width: 1200px) {
  section#topics div.container div.quickLinks a div.links div.circle {
    width: 45px;
    padding: 20px;
  }
  section#topics div.container div.quickLinks a div.links div.circle1 {
    padding: 21px 21px;
    width: 30px;
  }
  section#topics div.container div.quickLinks a div.links div.circle1 img {
    width: 25px;
  }
  section#topics div.container div.quickLinks a div.links div.circle2 {
    padding: 21.3px 21px;
    width: 30px;
  }
  section#topics div.container div.quickLinks a div.links div.circle2 img {
    width: 25px;
  }
  section#topics div.container div.quickLinks a div.links div.circle3 {
    padding: 21.5px 20.5px;
    width: 26px;
  }
  section#topics div.container div.quickLinks a div.links div.circle3 img {
    width: 36px;
  }
  section#topics div.container div.quickLinks a div.links div.circle4 {
    padding: 17.5px 20.5px;
    width: 26px;
  }
  section#topics div.container div.quickLinks a div.links div.circle4 img {
    width: 32px;
  }
  section#topics div.container div.quickLinks a div.links div.circle5 {
    padding: 18px 20.5px;
    width: 26px;
  }
  section#topics div.container div.quickLinks a div.links div.circle5 img {
    width: 32px;
  }
  section#topics div.container div.quickLinks a div.links div.circle7 {
    padding: 22.3px 21px;
    width: 30px;
  }
  section#topics div.container div.quickLinks a div.links div.circle7 img {
    width: 25px;
  }
  section#topics div.container div.quickLinks a div.links div.circle6,
  section#topics div.container div.quickLinks a div.links div.circle8 {
    padding: 19.5px 20.5px;
    width: 30px;
  }
  section#topics div.container div.quickLinks a div.links div.circle6 img,
  section#topics div.container div.quickLinks a div.links div.circle8 img {
    width: 25px;
  }
}

@media only screen and (max-width: 995px) {
  section#topics div.container div.quickLinks {
    margin-bottom: 0rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#topics div.container div.quickLinks a {
    -ms-flex-preferred-size: 36%;
        flex-basis: 36%;
  }
  section#topics div.container div.quickLinks a div.links {
    margin: 0;
    padding: 0 0 2rem 0;
  }
  section#topics div.container div.quickLinks2 {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  section#topics div.container div.quickLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#topics div.container div.quickLinks a {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  section#topics div.container div.quickLinks a div.links {
    margin: 0;
    padding: 1.5rem 0rem;
  }
}

@media only screen and (max-width: 560px) {
  section#topics div.container div.quickLinks a {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

div.topPics .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

div.topPics .headingh2 img {
  width: 29px;
}

div.topPics .headingh2 h2 {
  margin-left: 20px;
}

div.topPics div.pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.topPics div.pics article {
  padding: 1rem;
  position: relative;
}

div.topPics div.pics article img.articleImage {
  width: 300px;
  height: 280px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

div.topPics div.pics article .layerColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 125px;
  height: 30px;
  bottom: 181px;
  left: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

div.topPics div.pics article .layerColor img {
  width: 18px;
  margin-left: 0.6rem;
}

div.topPics div.pics article .layerColor p {
  margin-left: 0.6rem;
  color: var(--white);
}

div.topPics div.pics article .layerColor1 {
  background-color: var(--blue);
}

div.topPics div.pics article .layerColor2 {
  background-color: var(--pink);
}

div.topPics div.pics article .layerColor2 img {
  width: 12px;
}

div.topPics div.pics article .layerColor3 {
  background-color: var(--blue-dark);
}

div.topPics div.pics article .layerColor4 {
  background-color: var(--violet-dark);
}

div.topPics div.pics article h3 {
  margin-top: 2rem;
}

div.topPics div.pics article p {
  font-style: italic;
}

div.topPics div.pics article a:link, div.topPics div.pics article a:visited {
  color: var(--black);
  font-weight: 600;
}

div.topPics div.pics article h3, div.topPics div.pics article p, div.topPics div.pics article a {
  padding-left: 20px;
}

section#initiatives {
  width: 100%;
  background-color: var(--violet-dark);
}

section#initiatives .container .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#initiatives .container .headingh2 img {
  width: 29px;
}

section#initiatives .container .headingh2 h2 {
  margin-left: 20px;
}

section#initiatives .container .headingh2 h2 {
  color: var(--white);
}

section#initiatives .container .imageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#initiatives .container .imageContent article {
  padding: 1rem;
}

section#initiatives .container .imageContent article img {
  width: 410px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section#initiatives .container .imageContent article h3 {
  margin-top: 30px;
  margin-bottom: 1rem;
  color: var(--white);
}

section#initiatives .container .imageContent article a:link, section#initiatives .container .imageContent article a:visited {
  color: var(--white);
  font-weight: 600;
}

section#sponsored {
  position: relative;
}

section#sponsored div.container div.pedroMiranda {
  height: 568px;
  background: url("../src/pedro-miranda1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section#sponsored div.container div.pedroMiranda div.blueGradient {
  height: 568px;
  background-image: -webkit-gradient(linear, left top, right top, from(#56bdfd), to(rgba(86, 189, 253, 0.3)));
  background-image: linear-gradient(90deg, #56bdfd, rgba(86, 189, 253, 0.3));
  z-index: 2000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section#sponsored div.sponsored {
  width: 87px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: 80px;
  right: 30px;
  opacity: 0.4;
}

section#sponsored div.sponsored p {
  background-color: var(--white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

@media only screen and (max-width: 995px) {
  section#sponsored div.container div.pedroMiranda div.blueGradient div.highLight {
    padding: 70px;
  }
  section#sponsored div.container div.pedroMiranda div.blueGradient div.highLight p {
    width: 80%;
  }
  section#sponsored div.sponsored {
    top: 60px;
    left: 600px;
  }
}

@media only screen and (max-width: 768px) {
  section#sponsored div.container div.pedroMiranda div.blueGradient div.highLight {
    padding: 50px;
  }
  section#sponsored div.container div.pedroMiranda div.blueGradient div.highLight p {
    width: 90%;
  }
  section#sponsored div.sponsored {
    top: 40px;
    left: 430px;
  }
}

@media only screen and (max-width: 560px) {
  section#sponsored div.container div.pedroMiranda {
    height: 700px;
  }
  section#sponsored div.container div.pedroMiranda div.blueGradient {
    height: 700px;
  }
  section#sponsored div.container div.pedroMiranda div.blueGradient div.highLight {
    padding: 70px 20px 20px;
  }
  section#sponsored div.container div.pedroMiranda div.blueGradient div.highLight p {
    width: 100%;
  }
  section#sponsored div.sponsored {
    top: 32px;
    left: 220px;
  }
}

div.highLight {
  padding: 120px;
}

div.highLight .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  margin-bottom: 0;
}

div.highLight .headingh2 img {
  width: 29px;
}

div.highLight .headingh2 h2 {
  margin-left: 20px;
}

div.highLight .headingh2 h2 {
  color: var(--white);
  margin-top: 0;
}

div.highLight .headingh2 img {
  width: 38px;
}

div.highLight p {
  color: var(--white);
  width: 570px;
}

div.highLight p:nth-of-type(2) {
  margin-bottom: 2.5rem;
}

section#testimonials {
  background-color: var(--gray);
  width: 100vw;
  margin-bottom: 80px;
}

section#testimonials .container div.topPics div.pics {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section#testimonials .container div.topPics div.pics .layerColor3,
section#testimonials .container div.topPics div.pics .layerColor4 {
  bottom: 156px;
}

section#testimonials .container div.topPics div.pics .layerColor4 {
  background-color: var(--orange);
}

section#testimonials .container div.topPics div.pics a {
  opacity: 0.3;
}

@media only screen and (max-width: 560px) {
  section#testimonials {
    margin-bottom: 32px;
  }
}

.one {
  color: var(--blue);
}

.two {
  color: var(--pink);
}

.three {
  color: var(--blue-dark);
}

.four {
  color: var(--orange);
}

section#partners div.container {
  padding: 0;
}

section#partners div.container div.partnersImage {
  height: 679px;
  background: url("../src/pedro-miranda2.jpg") center/cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section#partners div.container div.partnersImage div.blueGrd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 679px;
  color: var(--white);
  background-image: -webkit-gradient(linear, right top, left top, from(#56bdfd), to(rgba(86, 189, 253, 0.2)));
  background-image: linear-gradient(270deg, #56bdfd, rgba(86, 189, 253, 0.2));
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
}

section#partners div.container div.partnersImage div.blueGrd div.contentRight {
  width: 50%;
  padding-left: 30px;
}

section#partners div.container div.partnersImage div.blueGrd div.contentRight h2 {
  width: 90%;
  margin-top: -2rem;
}

section#partners div.container div.partnersImage div.blueGrd div.contentRight .headingh3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

section#partners div.container div.partnersImage div.blueGrd div.contentRight .headingh3 img {
  width: 29px;
}

section#partners div.container div.partnersImage div.blueGrd div.contentRight .headingh3 h3 {
  margin-left: 1rem;
}

section#partners div.container div.partnersImage div.blueGrd div.contentRight p {
  width: 86%;
}

section#partners div.container div.partnersImage div.blueGrd div.contentRight p:nth-of-type(2) {
  margin-bottom: 30px;
  width: 88%;
}

section#partners div.container div.partnersImage div.blueGrd img.hero-left {
  width: 350px;
  position: absolute;
  bottom: 60px;
  left: 60px;
}

@media only screen and (max-width: 1400px) {
  section#partners div.container div.partnersImage div.blueGrd img.hero-left {
    width: 270px;
  }
}

@media only screen and (max-width: 995px) {
  section#partners div.container div.partnersImage {
    height: 820px;
  }
  section#partners div.container div.partnersImage div.blueGrd {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 820px;
  }
  section#partners div.container div.partnersImage div.blueGrd div.contentRight {
    width: 90%;
    padding-left: 70px;
    margin-top: 6rem;
  }
  section#partners div.container div.partnersImage div.blueGrd img.hero-left {
    width: 190px;
  }
}

@media only screen and (max-width: 768px) {
  section#partners div.container div.partnersImage div.blueGrd img.hero-left {
    width: 170px;
  }
}

@media only screen and (max-width: 560px) {
  section#partners div.container div.partnersImage {
    height: 100vh;
  }
  section#partners div.container div.partnersImage div.blueGrd {
    background-image: -webkit-gradient(linear, right top, left top, from(#56bdfd), to(rgba(86, 189, 253, 0.6)));
    background-image: linear-gradient(270deg, #56bdfd, rgba(86, 189, 253, 0.6));
    height: 100vh;
  }
  section#partners div.container div.partnersImage div.blueGrd div.contentRight {
    width: 100%;
    padding-left: 40px;
    margin-top: 3rem;
  }
  section#partners div.container div.partnersImage div.blueGrd div.contentRight .headingh3 {
    width: 80%;
  }
  section#partners div.container div.partnersImage div.blueGrd div.contentRight p {
    width: 90%;
  }
  section#partners div.container div.partnersImage div.blueGrd div.contentRight p:nth-of-type(2) {
    width: 90%;
  }
  section#partners div.container div.partnersImage div.blueGrd img.hero-left {
    width: 120px;
    bottom: 125px;
    left: 25px;
    opacity: 0.7;
  }
}

section#newspaper div.container div.topPics div.pics article {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

section#newspaper div.container div.topPics div.pics article div.layerColor2 {
  background-color: var(--orange);
}

section#newspaper div.container div.topPics div.pics article p.blackLighten {
  color: #999999;
}

section#testSkills {
  background-color: var(--gray);
  width: 100vw;
}

section#testSkills .container div.testSkills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#testSkills .container div.testSkills div.highLight {
  padding: 0px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

section#testSkills .container div.testSkills div.highLight .headingh2 h2 {
  color: var(--black);
}

section#testSkills .container div.testSkills div.highLight p {
  color: #999999;
}

section#testSkills .container div.testSkills div.videoTest {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

section#testSkills .container div.testSkills div.videoTest img {
  width: 660px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

section#testSkills .container div.testSkills div.videoTest a img.video-icon {
  width: 61px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

section#team {
  width: 100%;
  height: 570px;
  background: url("../src/cover-image.jpg");
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  position: relative;
}

section#team div.teamText {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

section#team div.teamText .headingh2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

section#team div.teamText .headingh2 img {
  width: 29px;
}

section#team div.teamText .headingh2 h2 {
  margin-left: 20px;
}

section#team div.teamText p.askTeam {
  font-size: 29px;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 1200px) {
  section#team {
    background-position: 20% 50%;
  }
}

@media only screen and (max-width: 995px) {
  section#team {
    background-position: 25% 50%;
  }
}

@media only screen and (max-width: 768px) {
  section#team div.teamText {
    left: 56%;
  }
  section#team div.teamText a {
    border: 2px solid var(--violet-dark);
    color: var(--violet-dark);
    background-color: rgba(255, 255, 255, 0);
  }
  section#team div.teamText a:hover {
    background-color: var(--violet-dark);
    color: var(--white);
  }
}

@media only screen and (max-width: 560px) {
  section#team div.teamText {
    left: 50%;
  }
  section#team div.teamText p.askTeam {
    font-size: 23px;
  }
}

#footer {
  width: 100vw;
  background-color: var(--violet-dark);
  color: var(--white);
}

#footer div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 2px solid var(--gray-a);
}

#footer div.container div.logo {
  z-index: 2000;
  margin-right: 3rem;
  margin-right: 0;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

#footer div.container div.logo a p {
  margin: 0;
  font-size: 1.3em;
}

#footer div.container div.logo a p span.skills {
  font-weight: bold;
}

#footer div.container div.logo p {
  color: var(--white);
}

#footer div.container nav.nav {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

#footer div.container nav.nav .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
}

#footer div.container nav.nav .nav-list .nav-items {
  margin: 10px 0rem;
}

#footer div.container nav.nav .nav-list .nav-items a {
  color: var(--white);
  padding: 0 2rem;
  transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -ms-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
}

#footer div.container nav.nav .nav-list .nav-items a:hover {
  color: var(--orange);
}

#footer div.container nav.nav .nav-list .nav-items a a.last-link {
  margin: 0;
}

#footer div.container nav.nav .nav-list .nav-items:nth-of-type(1) {
  margin: 0px 0px 10px;
}

#footer div.container div.rectangle {
  background-color: var(--violet-dark);
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#footer div.container div.rectangle div.item {
  height: 53.02px;
  background-color: var(--gray-a);
}

#footer div.container div.rectangle:nth-of-type(2) {
  margin: 0 62.24px 0 0;
}

#footer .container:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0;
  font-size: 14px;
}

#footer .container:nth-of-type(2) .linksFtr a {
  margin-left: 2rem;
}

#footer .container:nth-of-type(2) .linksFtr a:link, #footer .container:nth-of-type(2) .linksFtr a:visited {
  text-decoration: underline;
  color: var(--white);
}
/*# sourceMappingURL=style.css.map */