$xl-screens: 1400px;
$large-screens: 1200px;
$medium-screens: 995px;
$small-screens: 768px;
$tiny-screens: 560px;

//========= xl-screens =======
@media only screen and (max-width: $xl-screens){
  div.container {
    width: 1080px;
    padding: 60px 0;
  }
  h2 {
    font-size: 34px;
  }
  a.nav-link {
    padding: 0 1rem;
  }
  section#hero {
    div.gradient {
      h1 {
        font-size: 48px;
      }
    }
  }
  section#topics, 
  section#testimonials {
    div.container {
      div.topPics {
        div.pics {
          article {
            img.articleImage {
              width: 245px;
              height: 235px;
            }
            .layerColor3,
            .layerColor4 {
              bottom: 181px;
            }
          }
        } 
      }
    } 
  }
  section#initiatives {
    div.container {
      div.imageContent {
        article {
          img {
            width: 338px;
          }
        }
      }
    }
  }
  section#sponsored {
    width: 100%;
    div.sponsored {
      position: absolute;
      top: 80px;
      left: 1100px;
    }
  }
  section#partners {
    width: 100%;
  }
  section#newspaper {
    div.container {
      div.topPics {
        div.pics {
          align-items: flex-start;
          article {
            .layerColor1 {
              bottom: 204px;
            }
            .layerColor2, 
            .layerColor3 {
              bottom: 205px;
            }
            p.third {
              width: 70%;
            }
          }
        }
      }
    }
  }
  section#testSkills {
    div.container {
      div.testSkills {
        div.highLight {
          padding-right: 3rem;
        }
        div.videoTest {
          img {
            width: 460px;
          }
        }
      }
    }
  }
  footer#footer {
    div.container {
      div.rectangle:nth-of-type(2) {
        margin: 0 40px 0 0;
      }
    }
  }
}

//========= medium-screens =======
@media only screen and (max-width: $medium-screens) {
  #header {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    height: 0;
    div.logo {
      position: absolute;
      top: 2.5rem;
      left: 2rem;
      a {
        p {
          font-size: 1.1em;
        }
      }
    }
    .logo.showMenu {
      display: block;
      a {
        p {
          color: var(--white);
        }
      }
    }
    nav.nav {
      #menu-toggle {
        display: flex;
        z-index: 27000;
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
       .nav-list {
         display: none;
         .nav-items {
           a {
             padding: 0 4rem 0rem 0rem;
             &:link,
             &:visited {
               color: var(--white);
               font-size: 1.5em;
             }
           }
           a:after {
             width: 0;
             height: 0;
           }
         }
       }
       .nav-list.showMenu {
        display: flex;
        flex-direction: column;
        align-items: center;  
       }
    }
    div.login {
      .btnViolet {
          border: 2px solid var(--white);
          order: 2;
      }
      p {
        order: 1;
        font-size: 1.3em;
        margin: 0.5rem 1rem 1rem;
        color: var(--white);
      }
      display: none;
      background-color: rgba(#000, 0.0);
      padding: 0.5rem;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }
    .login.showMenu {
      display: flex;
      flex-direction: column;
    }
    div.line {
      display: none;
    }
    .dropdown {
      display: none;
    }
  }
  #header.showMenu {
   height: 100vh;
   background-color: var(--orange);
   transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
   -webkit-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
   -moz-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
   -ms-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
   -o-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
  }
}


