@media only screen and (max-width: 1400px) {
  div.container {
    width: 1080px;
    padding: 60px 0;
  }
  h2 {
    font-size: 34px;
  }
  a.nav-link {
    padding: 0 1rem;
  }
  section#hero div.gradient h1 {
    font-size: 48px;
  }
  section#topics div.container div.topPics div.pics article img.articleImage,
  section#testimonials div.container div.topPics div.pics article img.articleImage {
    width: 245px;
    height: 235px;
  }
  section#topics div.container div.topPics div.pics article .layerColor3,
  section#topics div.container div.topPics div.pics article .layerColor4,
  section#testimonials div.container div.topPics div.pics article .layerColor3,
  section#testimonials div.container div.topPics div.pics article .layerColor4 {
    bottom: 181px;
  }
  section#initiatives div.container div.imageContent article img {
    width: 338px;
  }
  section#sponsored {
    width: 100%;
  }
  section#sponsored div.sponsored {
    position: absolute;
    top: 80px;
    left: 1100px;
  }
  section#partners {
    width: 100%;
  }
  section#newspaper div.container div.topPics div.pics {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor1 {
    bottom: 204px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor2,
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 205px;
  }
  section#newspaper div.container div.topPics div.pics article p.third {
    width: 70%;
  }
  section#testSkills div.container div.testSkills div.highLight {
    padding-right: 3rem;
  }
  section#testSkills div.container div.testSkills div.videoTest img {
    width: 460px;
  }
  footer#footer div.container div.rectangle:nth-of-type(2) {
    margin: 0 40px 0 0;
  }
}

@media only screen and (max-width: 1200px) {
  div.container {
    width: 80%;
    padding: 60px 0;
  }
  h2 {
    font-size: 32px;
  }
  header#header div.logo {
    margin-right: 1rem;
  }
  header#header div.logo a p {
    font-size: 1.1em;
  }
  header#header nav.nav .nav-list .nav-items a.nav-link {
    padding: 0 0.6rem;
  }
  header#header nav.nav .nav-list .nav-items a.nav-link:after {
    content: "";
    left: 10px;
  }
  header#header nav.nav .nav-list .nav-items a.nav-link:hover::after {
    width: calc(100% - 10px);
  }
  header#header div.login {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  header#header div.login .btnViolet {
    border: 2px solid var(--white);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header#header div.login p {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 1.1em;
    margin: 0 0 0.5rem 0;
    color: var(--white);
  }
  section#hero div.gradient h1 {
    font-size: 42px;
  }
  section#topics div.container div.quickLinks a div.links div.circle {
    width: 35px;
    padding: 10px;
  }
  section#topics div.container div.topPics div.pics article img.articleImage,
  section#testimonials div.container div.topPics div.pics article img.articleImage {
    width: 193px;
    height: 183px;
  }
  section#topics div.container div.topPics div.pics article .layerColor,
  section#testimonials div.container div.topPics div.pics article .layerColor {
    bottom: 205px;
  }
  section#initiatives div.container div.imageContent article img {
    width: 265px;
  }
  section#sponsored div.sponsored {
    top: 60px;
    left: 860px;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor1 {
    bottom: 229px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor1 {
    bottom: 227px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor2 {
    bottom: 227px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 229px;
  }
  section#newspaper div.container div.topPics div.pics article p.two {
    width: 80%;
  }
  section#testSkills div.container div.testSkills {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  section#testSkills div.container div.testSkills div.highLight {
    padding-right: 3rem;
  }
  section#testSkills div.container div.testSkills div.highLight p {
    width: 100%;
  }
  section#testSkills div.container div.testSkills div.videoTest {
    margin-bottom: 3rem;
  }
  footer#footer div.container div.logo {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
  }
  footer#footer div.container div.logo a p {
    font-size: 1.1em;
  }
  footer#footer div.container nav.nav {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  footer#footer div.container div.rectangle {
    -ms-flex-preferred-size: 15%;
        flex-basis: 15%;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  footer#footer div.container div.rectangle:nth-of-type(2) {
    margin: 0 25px 0 0;
  }
}

@media only screen and (max-width: 995px) {
  div.container {
    width: 80%;
    padding: 45px 0;
  }
  h2 {
    font-size: 29px;
  }
  header#header {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 0;
  }
  header#header div.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  header#header div.logo a p {
    font-size: 0.8em;
  }
  header#header .logo.showMenu {
    display: block;
  }
  header#header .logo.showMenu a p {
    color: var(--white);
  }
  header#header nav.nav #menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 27000;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  header#header nav.nav .nav-list {
    display: none;
  }
  header#header nav.nav .nav-list .nav-items a {
    padding: 0 4rem 0rem 0rem;
  }
  header#header nav.nav .nav-list .nav-items a:link, header#header nav.nav .nav-list .nav-items a:visited {
    color: var(--white);
    font-size: 1.5em;
  }
  header#header nav.nav .nav-list .nav-items a:after {
    width: 0;
    height: 0;
  }
  header#header nav.nav .nav-list.showMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header#header div.login {
    display: none;
    padding: 0.5rem;
  }
  header#header div.login p {
    font-size: 1.3em;
    margin: 0.5rem 1rem 1rem;
  }
  header#header .login.showMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header#header div.line {
    display: none;
  }
  header#header .dropdown {
    display: none;
  }
  #header.showMenu {
    height: 100vh;
    background-color: var(--orange);
    transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
    -webkit-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
    -moz-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
    -ms-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
    -o-transition: 0.5s cubic-bezier(0.86, 0, 0.07, 1) all;
  }
  section#hero div.gradient h1 {
    font-size: 38px;
  }
  section#hero div.gradient p {
    width: 70%;
    text-align: center;
  }
  section#topics div.container div.topPics div.pics,
  section#testimonials div.container div.topPics div.pics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section#topics div.container div.topPics div.pics article,
  section#testimonials div.container div.topPics div.pics article {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 1rem 0rem 2rem;
  }
  section#topics div.container div.topPics div.pics article .layerColor,
  section#testimonials div.container div.topPics div.pics article .layerColor {
    bottom: 173px;
  }
  section#initiatives div.container div.imageContent article img {
    width: 198px;
  }
  section#newspaper div.container div.topPics div.pics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor2 {
    bottom: 203px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 158px;
  }
  section#newspaper div.container div.topPics div.pics article p.two {
    width: 80%;
  }
  section#testSkills div.container div.testSkills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#testSkills div.container div.testSkills div.highLight {
    padding-right: 0;
  }
  section#testSkills div.container div.testSkills div.videoTest {
    margin: 4rem 0rem 0rem;
  }
  section#testSkills div.container div.testSkills div.videoTest img {
    width: 100%;
  }
  footer#footer div.container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer#footer div.container div.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
            flex: 1 1 20%;
  }
  footer#footer div.container div.logo a p {
    font-size: 0.8em;
  }
  footer#footer div.container nav.nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
    margin-bottom: 3rem;
  }
  footer#footer div.container div.rectangle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}

@media only screen and (max-width: 768px) {
  div.container {
    width: 80%;
    padding: 40px 0;
  }
  h2 {
    font-size: 27px;
  }
  header#header div.logo {
    top: 25px;
    left: 25px;
  }
  header#header nav.nav #menu-toggle {
    width: 40px;
    height: 40px;
    top: 25px;
    right: 25px;
  }
  section#topics div.container div.topPics div.pics,
  section#testimonials div.container div.topPics div.pics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#topics div.container div.topPics div.pics article img.articleImage,
  section#testimonials div.container div.topPics div.pics article img.articleImage {
    width: 100%;
    height: 100%;
  }
  section#initiatives div.container div.imageContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#initiatives div.container div.imageContent article {
    padding: 2rem 0;
  }
  section#initiatives div.container div.imageContent article img {
    width: 106%;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor1 {
    bottom: 173px;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor3,
  section#testimonials div.container div.topPics div.pics article .layerColor4 {
    bottom: 172px;
  }
  section#newspaper div.container div.topPics div.pics {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#newspaper div.container div.topPics div.pics article {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 1.5rem 1rem;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor2 {
    bottom: 164px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor1,
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 189px;
  }
  footer#footer div.container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer#footer div.container div.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
            flex: 1 1 10%;
  }
  footer#footer div.container nav.nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
  footer#footer div.container div.rectangle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-top: 4rem;
    -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  footer#footer div.container div.rectangle div.item {
    height: 70px;
    background-color: var(--gray-a);
  }
  footer#footer div.container div.rectangle:nth-of-type(2) {
    margin: 0;
  }
}

@media only screen and (max-width: 560px) {
  div.container {
    width: 80%;
    padding: 32px 0;
  }
  h2 {
    font-size: 25px;
  }
  header#header div.logo a p {
    font-size: 0.8em;
  }
  section#topics div.container div.topPics div.pics,
  section#testimonials div.container div.topPics div.pics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#topics div.container div.topPics div.pics article .layerColor,
  section#testimonials div.container div.topPics div.pics article .layerColor {
    bottom: 196px;
  }
  section#initiatives div.container div.imageContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#initiatives div.container div.imageContent article {
    padding: 1.5rem 0;
  }
  section#initiatives div.container div.imageContent article img {
    width: 100%;
  }
  section#testimonials {
    margin-top: 32px;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor1 {
    bottom: 197px;
  }
  section#testimonials div.container div.topPics div.pics article .layerColor3,
  section#testimonials div.container div.topPics div.pics article .layerColor4 {
    bottom: 172px;
  }
  section#newspaper div.container div.topPics div.pics article .layerColor1,
  section#newspaper div.container div.topPics div.pics article .layerColor2,
  section#newspaper div.container div.topPics div.pics article .layerColor3 {
    bottom: 236px;
  }
  section#testSkills div.container div.testSkills div.videoTest {
    margin: 3rem 0rem 0rem;
  }
  footer#footer div.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  footer#footer div.container div.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 3rem;
  }
  footer#footer div.container nav.nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  footer#footer div.container nav.nav .nav-list .nav-items a {
    padding: 0;
  }
  footer#footer div.container div.rectangle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
  footer#footer div.container div.rectangle div.item {
    height: 50px;
  }
  footer#footer .container:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3rem 0;
  }
  footer#footer .container:nth-of-type(2) p {
    margin-top: 0;
  }
  footer#footer .container:nth-of-type(2) .linksFtr a {
    margin-left: 0rem;
  }
  footer#footer .container:nth-of-type(2) .linksFtr a.privacy {
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=media-queries.css.map */