#menu-toggle {
  width: 51px;
  height: 51px;
  background: var(--violet-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}

@mixin logo {
  a {
    p {
      margin: 0;
      font-size: 1.3em;
      span.skills {
        font-weight: bold;
      }
    }
  }
  z-index: 2000;
  margin-right: 3rem;
}

@mixin langMenu {
  .lang-menu {
    width: 100px;
      text-align: right;
      position: relative;
      div.dropbtn {
        display: flex;   
       justify-content: flex-start;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
      i {
        margin-left: 0.3rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      display: none;
      background-color: #fff;
      position: absolute;
      top: 41px;
      right: 30px;
      width: 100px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
      li {
        list-style: none;
        text-align: left;
        display: flex;
       justify-content: space-between;
      a {
        text-decoration: none;
        width: 100px;
        padding: 5px 10px;
        display: block;
        font-weight: 700;
        color: var(--violet-dark);
        &:before {
          content: '';
          display: inline-block;
          width: 25px;
          height: 25px;
         vertical-align: middle;
         margin-right: 10px;
         background-size: contain;
          background-repeat: no-repeat;
         }
         &:hover {
          background-color: var(--violet-dark);
           color: var(--white);
           border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
         }
        }
        a.de:before {
          background-image: url(https://flagcdn.com/16x12/de.png);
        }
        a.nl:before {
          background-image: url(https://flagcdn.com/16x12/nl.png);
        }
        a.be:before {
          background-image: url(https://flagcdn.com/16x12/be.png);
        }
      }
    }
    .show {display: block;}
    }
}

@mixin hero {
  width: 100%;
  height: 820px;
  background: url("../src/hero.jpg")  center/cover;
  background-repeat: no-repeat;
}

@mixin searchBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 799px;
  height: 60px;
  padding: 0.3rem 0.3rem 0.3rem 1.2rem;
  background-color: var(--white);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  .searchTopic, .searchProject {
    .fa-solid {
      color: black;
    }
    input[type="text"] {
      font-size: 1em;
      border: none;
      margin-left: 1rem;
      &:focus {
        background-color: var(--violet-dark);
        color: var(--white);
        padding: 0.5rem;
      }
    }
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  div.line {
    span {
       @include vertical-line;
       height: 25px;
    }
  }
  button.btnViolet {
      height: 52px;
  }
}

@mixin vertical-line {
  display: block;
  background-color: darken(#fff, 15%);
   width:2px;
   height: 40px;
   margin: 0 1.5rem;
}

@mixin h2 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  img {
     width: 29px;
  }
  h2 {
     margin-left: 20px;
  }
}


@mixin h3 {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  img {
     width: 29px;
  }
  h3 {
     margin-left: 1rem;
  }
}

@mixin perdoMiranda1 {
  height: 568px;
  background: url("../src/pedro-miranda1.jpg");
  background-position:  50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@mixin pedroMiranda2 {
  height: 679px;
  background: url("../src/pedro-miranda2.jpg")  center/cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

@mixin sponsored {
  width: 87px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: 80px;
  right: 30px;
  opacity: 0.4;
  p {
    background-color: var(--white);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

@mixin team {
  width: 100%;
  height: 570px;
  background: url("../src/cover-image.jpg");
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  @media only screen and (max-width: 1200px){
    background-position: 20% 50%;
  }
  @media only screen and (max-width: 995px) {
    background-position: 25% 50%;
  }
}